body {
  text-align: center;
  background:rgb(238,242,255);
}
.segment {
  background-color: #af0a0f !important;
}

.navBar {
  font-size: 1.2em !important;
}

.galleryContainer {
  text-align: center;
  padding:3em 1em;
  height: auto;
}

form {
  max-width: 45em;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  width: 70%;
  padding: 2.5em;
  box-shadow: 0 0 5px black;
}

input, textarea {
  display: block;
  width:80%;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1em auto;
  border-radius: 10px;
}

textarea {
  border-radius: 5px;
}

img {
  width: 100%;
  max-width:10em;
}

.card {
  width:13em;
  display: inline-block;
  margin: 1em;
  vertical-align: top;
  min-height: 20em;
  text-overflow: hidden;
}

.threadImage {
  float:left;
  margin-right: 1em;
}

p {
  margin-top:0.5em;
  text-align: left;
}
