body {
  text-align: center;
  background:rgb(238,242,255);
}
.segment {
  background-color: rgb(153,136,238) !important;
}

.navBar {
  font-size: 1.2em !important;
}

.galleryContainer {
  text-align: center;
  padding:3em 1em;
  height: auto;
}

form {
  max-width: 45em;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 2.5em;
  border: 1px solid rgb(183,197,217);
}

input, textarea {
  display: block;
  width:80%;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1em auto;
  border: 1px solid rgb(153,136,238);
  resize: vertical;
  overflow: auto;
}


img {
  width: 100%;
  max-width:10em;
  max-height: 300px;
}

.card {
  width:13em;
  display: inline-block;
  margin: 1em;
  vertical-align: top;
  min-height: 20em;
  text-overflow: hidden;
}

.threadImage {
  float:left;
  margin-right: 1em;
}

p {
  text-align: left;
  white-space: pre-wrap;
  overflow: hidden;
}

.galleryImage {
  margin-bottom: 0.5em;
}

.replies {
  font-size: 9pt;
  font-weight: bold;
}

.threadContainer {
display: table !important;
text-align: left;
margin: 0.2em 0;
background-color:rgb(214,218,240);
padding:1em;
border-bottom: 1px solid #b7c5d9;
border-right: 1px solid #b7c5d9;
}

.ano {
  color:rgb(17,119,67);
  font-weight: bold;
}
